.footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    padding: 40px 70px;
    background: rgb(27, 152, 213);
    div{
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }
}

.footer-top{
    display: flex;
    flex-direction: row;
}

.company-name-logo{
    font-weight: bold;
    font-size: 30px;
}

.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.explore-main{

}